# Input Data User

oke, kali ini kita akan **belajar bagaimana cara mengambil data dari user**. Maksudnya bagaimana? 

Jadi anggaplah kita sedang login sosmed, game dan sebagainya, pasti kita diminta untuk memasukan email, nomer hp dan seterusnya. Nah data yang kita masukan itu masuk ke dalam `Input Data User`.

Langsung kita coba saja ya :

In [5]:
# buat variable
input_nama = input("Masukan nama Anda :")

Masukan nama Anda :  Agung

lalu kita tampilkan hasil `input data user` di variable `input_nama`

In [6]:
print(input_nama)

Agung

Sekarang kita coba input angka

In [7]:
input_angka = input("Masukan angka :")
print(input_angka)

Masukan angka :  80

80

oke, terlihat normal ya? sebenarnya tidak. *Maksudnya bagaimana?* kalo kalian cek tipe data dari **`input_nama` dan `input_angka` tipe datanya masih `String`**. Kita cek saja ya

In [15]:
type(input_nama)

str

In [16]:
type(input_angka)

str

See? kita memasukan angka tapi tipe datanya masih String. nah cara mengatasinya bagaimana? tentu kita casting terlebih dahulu. 

Alasan kita kemarin belajar Casting Tipe Data ya karena ini

## String

Secara default, input akan menghasilkan tipe data `str`

In [17]:
nama = input("Masukan Nama :")
angka = input("Masukan Angka :")

Masukan Nama : agung
Masukan Angka : 18

In [19]:
print(type(nama))
print(type(angka))

<class 'str'>
<class 'str'>

---

## Integer

Nah caranya gimana kalo mau masukin angka? **sebelum syntax `input`, kita masukan syntax `int` sebelumnya**, jadi seperti ini :

```python
angka = int(input("Masukan Angka :")) # int sebelum input
```

kita coba langsung ya :

In [23]:
angka = int(input("Masukan Angka"))

Masukan Angka 12

In [24]:
type(angka)

int

Berhasil kan? wkwk tapi tentu akan error jika kita memasukan datanya `string`

In [25]:
angka = int(input("Masukan Angka :"))

Masukan Angka : agung

ValueError: invalid literal for int() with base 10: 'agung'

tuh kan, jadi jangan iseng ya

---

## Float

Float juga gitu, sama kita casting terlebih dahulu ke float baru di tampilkan. Dan akan error juga kalo kita masukinnya string

In [26]:
koma = float(input("Masukan angka dengan koma :"))

Masukan angka dengan koma : 9.2

In [27]:
koma

9.2

Coba, kalo tidak kita masukan koma apakah masih bisa berhasil?

In [28]:
koma = float(input("Masukan angka dengan koma :"))

Masukan angka dengan koma : 9

In [29]:
koma

9.0

Berhasil, tapi defaultnya akan ditambah `.0` dibelakang angka. 
Sekarang kita iseng lagi masukin string hehe

In [30]:
koma = float(input("Masukan angka dengan koma :"))

Masukan angka dengan koma : agung

ValueError: could not convert string to float: 'agung'

awkoawko `ValueError lagi`

---

## Boolean

Nah kalo udah sampe Boolean nih kadang suka rada-rada

In [39]:
boolean = bool(input("Masukan Boolean : "))   # hanya True or Falseb

Masukan Boolean :  True

In [40]:
boolean

True

In [42]:
boolean = bool(input("Masukan Boolean : "))   # hanya True or False

Masukan Boolean :  False

In [43]:
boolean

True

Tuh kan! kita input False tapi pas di print lagi tuh hasilnya tetep True. 

Dari apa yang udah kita pelajarin kemarin, boolean baru bernilai False kalo.. angka inputnya 0. 

Nah jadi untuk mengatasi itu, kita perlu **casting input data user ke *`Integer` terlebih dahulu, baru ke `Boolean`***

In [47]:
boolean = bool(int(input("Masukan Angka Boolean :")))
print(boolean)

Masukan Angka Boolean : 1

True

In [48]:
boolean = bool(int(input("Masukan Angka Boolean :")))
print(boolean)

Masukan Angka Boolean : 0

False

Nahh.. jadi seperti itu mengatasi Boolean, kita perlu casting ke Integer terlebih dahulu baru casting lagi ke boolean